body {
    background-color: #060AB2;
    text-align: center;
    align-items: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#title {
    font-size: 12vh;
}

#categories {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}

.category {
    height: 25vh;
    width: 37.5vw;
    background-color: #1c7ccc;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categoryTitle {
    font-size: 4vw;
}

