* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-color: #060AB2;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face , .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: #1c7ccc;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

#popup.hidden {
    display: none;
}

#popup {
    top: 0;
    left: 0;
    height: 90vh;
    width: 90vw;
    background-color: white;
    position: absolute;
    z-index: 2;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-bottom: 0;
    margin-right: 0;
    display: flex;
    border-radius: 10px;
}

#popupImg {
    height: 40vh;
    width: 40vw;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #1c7ccc;
    border-radius: 10px;
}

#closeButton {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

#text {
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    font-size: 3vh;
}

#textP {
    overflow-y: scroll;
    height: 80vh ;
}